[Unit]
Description=Gamepad Emulator for iOS GH Live Guitar
After=bluetooth.service

[Service]
Type=idle
ExecStart=/opt/gamepademu/iosghsubsys.py

[Install]
WantedBy=bluetooth.target
